global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Add this section to monitor CPU/RAM/Disk
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['localhost:9100']
