services:
  # PROMETHEUS SERVICE
  - type: web
    name: prometheus
    env: docker
    plan: free
    dockerContext: ./prometheus
    healthCheckPath: /-/healthy
    envVars:
      - key: PORT
        value: 9090

  # GRAFANA SERVICE
  - type: web
    name: grafana
    env: docker
    plan: free
    dockerContext: ./grafana
    envVars:
      - key: GF_SERVER_HTTP_PORT
        value: 3000
      - key: GF_AUTH_ANONYMOUS_ENABLED
        value: true
      - key: GF_AUTH_ANONYMOUS_ORG_ROLE
        value: Admin
      - key: GF_AUTH_DISABLE_LOGIN_FORM
        value: true
      # Connects to the internal Prometheus URL
      - key: PROMETHEUS_URL
        fromService:
          type: web
          name: prometheus
          property: host
